* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  font-size: 2rem;
}

img {
  width: 40%;
  height: 85%;
  border-radius: 50%;
}
.container {
  width: 80%;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.carousel-container {
  width: 80%;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navigation-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
  padding: 5px;
}

.fa-circle {
  font-size: 1rem;
  color: #ccc;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navigation-dots-color {
  color: #df3232;
  transform: scale(1.2);
}
